<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
<head>
    <meta charset="UTF-8">
    <title>Flower R' Us</title>

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">



    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <script src="index.js"></script>


</head>
<body ng-controller="CartCtrl as cartCtrl">


    <div class="container">

     <!--<h5>FSF17 Node and Angular JS Template Environement</h5>    -->
        <h1>Flower R' Us</h1>


            <form name="itemForm" ng-submit="cartCtrl.addToBasket()" novalidate>
                <div class="form-group">
                    <label for="item">To</label>
                    <!--<br>    -->
                    <input type="text" ng-model="cartCtrl.to" required >
                    <br>
                </div>
                <div class="form-group">
                    <label for="quantity">From</label>
                    <!--<br>    -->
                    <input type="text" ng-model="cartCtrl.from"  >       
                    <br>
                </div>
                <div class="form-group">
                    <label for="text-area">Note:</label>
                    <br>
                    <textarea class="form-control" rows="3" ng-model="cartCtrl.note"></textarea>
                </div>
                <div class="form-group">
                    Flowers:
                    <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Rose" ng-model="cartCtrl.flower"> Rose
                    </label>
                    <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Tulip" ng-model="cartCtrl.flower"> Tulip
                    </label>
                    <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Lily" ng-model="cartCtrl.flower"> Lily
                    </label>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <!--<br>    -->
                    <input type="number" ng-model="cartCtrl.quantity" required min="12" >       
                    <br>
                </div>
                <div class="form-group">
                    Colors:
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="Pink" ng-model="cartCtrl.pink"> Pink
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="Red" ng-model="cartCtrl.red"> Red
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="Blue" ng-model="cartCtrl.blue"> Blue
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="White" ng-model="cartCtrl.white"> White
                    </label>

                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control" >
                    <i class="fa fa-cart-plus"  ></i>
                        Add to cart
                    </button>
                </div>
            </form>


    </div>
</body>
</html>