<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
<head>
    <meta charset="UTF-8">
    <title>Flower R' Us</title>

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">



    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <script src="index.js"></script>


</head>
<body ng-controller="CartCtrl as cartCtrl">


    <div class="container">

     <!--<h5>FSF17 Node and Angular JS Template Environement</h5>    -->
        <h1>Flower R' Us</h1>

            
            <h2>Contents</h2>
            <table class="table"> 
                <tr> 

                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
                <tr ng-repeat="i in cartCtrl.basket">
                    <!--<td ng-repeat="item in myCart.item">{{item}}</td>
                    <td ng-repeat="quantity in myCart.quantity">{{quantity}}</td>-->
                    <td>{{ i.item}}</td>
                    <td>{{ i.quantity }}</td>
                </tr>


            </table>



    </div>
</body>
</html>